[Unit]
Description=Spark service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target hadoop.service

[Service]
User=hadoop
Group=hadoop
Type=forking
ExecStart=/cluster/spark-3.5.1-bin-hadoop3/sbin/start-all.sh
ExecStop=/cluster/spark-3.5.1-bin-hadoop3/sbin/stop-all.sh
WorkingDirectory=/cluster/spark-3.5.1-bin-hadoop3
TimeoutStartSec=1min
Restart=no
RestartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
